body{
  background-attachment: fixed; /* Zorgt ervoor dat de achtergrond niet meebeweegt tijdens scrollen */
  background-color: #31490d;
background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
}