body{
  background-attachment: fixed;
  background-color: #4c7a03f1;
background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
font-family: "Montserrat", sans-serif;
  color: #ffffff;
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}